.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
.github/**
tsconfig.json
**/*.map
**/*.ts
!out/**
test_accept.txt
*.vsix
.DS_Store
Thumbs.db
extracted_*/**
mstrvn/**
package-lock.json
*.md
!README.md
!CHANGELOG.md
NOTICE
LICENSE
